.input_container {
  position: relative;
}

.label {
  position: absolute;
  top: -17px;
  left: 0;

  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;

  color: var(--yellow);
}

.input {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  border: 1px solid yellow;
  border-radius: 3px;

  outline: none;

  color: white;
  background: transparent;

  width: 100%;
  height: 34px;

  cursor: pointer;
}

.input:hover,
.input:focus {
  color: white;
  outline: none;
}

input::placeholder {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;

  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent;
}
